/* Import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Reference to font in assets */
@font-face {
    font-family: "Monsterrat Bold";
    src: url(/assets/fonts/Montserrat-Bold.ttf);
}

/* General reset of margin, padding and setting box sizing to border box */
body,
body>* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Rules as specified for screens under 600px, some overwritten later.*/

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
}

body {
    position: relative;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    font-size: 1.2em;
}

h1,
h2,
h3 {
    font-family: "Monsterrat Bold", sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
}

p {
    max-width: 70ch;
    line-height: 1.5;
}

body>* {
    width: 95%;
}

header {
    position: relative;

    height: 55vh;
    margin: 0 auto;
}

/* Setting up the background as a pseudo element gives more controll of its size and positioning */
header::before {
    content: "";

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100vw;
    height: 100%;

    z-index: -1;

    background-image: url(/assets/img/studentsbg.png);
    background-position: top;
    background-size: auto;
    background-attachment: fixed;
}

header>div {
    /* Absolutely positioned relative to the header. With a -4rem bottom offset */
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    padding: 2rem;
    
    background-color: #c5192d;
    
    text-align: center;
    color: white;
}


main {
    margin: calc(4rem + 2rem) auto 2rem auto;

    background-color: whitesmoke;
    box-shadow: 0 0 1px 0 darkgray;
}


#intro-container {
    padding: 2rem;

    z-index: 1;
}

/* Background color as a pseudo element so it can be 
resized to fit the left column on larger screen sizes */
#intro-container::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;

    background-color: #c5192d;
}

#intro-container li::before {
    width: 1rem;
    margin: 1rem 1rem 0rem;
}

#intro-container li:nth-child(1)::before {
    content: "\1F64C";
}

#intro-container li:nth-child(2)::before {
    content: "\1F3EB";
}

#intro-container li:nth-child(3)::before {
    content: "\1F4DA";
}

main>article {
    padding: 2rem;
    position: relative;

    border-bottom: 0.1px solid lightgray;

    /* This is a trick I found to place the text before the image without using flex or grid.
    The benefit to this over transform: scaleY(-1) on the article and the items is that you dont 
    need to identify what entire article needs to be flipped, and you can select elements based on 
    what you want to appear first (in the header of the table) */
    display: table;
}

main>article>img {
    max-width: 100%;
}

/* Any content that follows an image is placed ahead of the image.
This has the same effect as restructuring the html so that <img> is the last element in the article*/
main>article>img ~ * {
    display: table-header-group;
}

/* The following two rulesets could also be used */
/* main>article:nth-of-type(3) {
    transform: scaleY(-1);
}

main>article:nth-of-type(3)>* {
    transform: scaleY(-1);
} */

footer {
    margin: 0 auto;
    padding: 1rem 2rem;

    background-color: #c5192d;

    text-align: center;
    color: white;
}

footer a {
    color: inherit;
}

/* Rules for screen > 600px */
@media screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    body>* {
        width: 85%;
    }

    header {
        height: 65vh;
    }

    main>article {
        text-align: justify;
    }

    #intro-container::before {
        right: 50%;
    }

    main>article::after {
        content: '';
	    display: inline-block;
	    width: 100%;
    }

    main>article>* {
        display: inline-block;
        text-align: left;

        width: 45%;

        vertical-align: top;
    }

    main>article>img ~ * {
        display: inline-block;
    }
 
    main>article>*:last-child {
        background-color: whitesmoke;
        height: 100%;
    }
}

/* Rules for screen > 960px */
@media screen and (min-width: 960px) {
    html {
        font-size: 24px;
    }

    body>* {
        width: 70%;
    }
}